﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_SecondLayout.cshtml";

}
@model List<BirsaKisanApp.DomainLayer.Entities.Lgdcode>

 <div class="d-flex justify-content-around mt-5">

    <div class="card" style="width: 28rem;">
        <div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="DistrictDropDown" data-bs-toggle="dropdown" aria-expanded="false">
                    @Model.First().DistrictName
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="DistrictDropDown">
                    @foreach (var item in Model)
                    {
                        <li><a class="link-offset-2 link-underline link-underline-opacity-0" href="@Url.Action("Index","FarmerRegistration",new {id=item.DistrictId})">@item.DistrictName</a></li>
                    }
                </ul>
            </div>
        </div>
        <div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="BlockDropDown" data-bs-toggle="dropdown" aria-expanded="false">
                    @Model.First().BlockName
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="BlockDropDown">
                    @foreach (var item in Model)
                    {
                        <li><a class="link-offset-2 link-underline link-underline-opacity-0" href="@Url.Action("Index","FarmerRegistration",new {id=item.DistrictId})">@item.DistrictName</a></li>
                    }
                </ul>
            </div>
        </div>
        <div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="VillageDropDown" data-bs-toggle="dropdown" aria-expanded="false">
                    @Model.First().BlockName
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="VillageDropDown">
                    @foreach (var item in Model)
                    {
                        <li><a class="btn btn-light form-control" href="@Url.Action("Index","FarmerRegistration",new {id=item.DistrictId})">@item.DistrictName</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>

 </div>

