﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model BirsaKisanApp.DomainLayer.Entities.APIDetails

<form asp-action="Create" method="post" class="my-3">
    <div>
        <label class="form-check-label" asp-for="ProjectName">Project Name:</label>
        <input class="form-control" asp-for="ProjectName" autocomplete="off" />
    </div>
    <div>
        <label class="form-check-label" asp-for="UrlName">URL Name:</label>
        <input class="form-control" asp-for="UrlName" autocomplete="off" />
    </div>
    <div>
        <label class="form-check-label" asp-for="PersonInCharge">Person in Charge:</label>
        <input class="form-control" asp-for="PersonInCharge" autocomplete="off" />
    </div>
    <div>
        <label class="form-check-label" asp-for="ContactNumber">Contact Number:</label>
        <input class="form-control" asp-for="ContactNumber" autocomplete="off" />
    </div>
    <div>
        <label class="form-check-label" asp-for="Email">Email:</label>
        <input class="form-control" asp-for="Email" autocomplete="off" type="email" id="email" name="email" required />
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
