﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model BirsaKisanApp.DomainLayer.Entities.APIDetails

<form asp-action="Edit" method="post" class="my-3">
    <div>
        <label class="form-check-label" asp-for="ProjectName">Project Name:</label>
        <input class ="form-control" asp-for="ProjectName" />
    </div>
    <div>
        <label class="form-check-label" asp-for="UrlName">URL Name:</label>
        <input class="form-control" asp-for="UrlName" />
    </div>
    <div>
        <label class="form-check-label" asp-for="PersonInCharge">Person in Charge:</label>
        <input class="form-control"  asp-for="PersonInCharge" />
    </div>
    <div>
        <label class="form-check-label" asp-for="ContactNumber">Contact Number:</label>
        <input class="form-control" asp-for="ContactNumber" />
    </div>
    <div>
        <label class="form-check-label" asp-for="Email">Email:</label>
        <input class="form-control" asp-for="Email" />
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>

