﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
@model List<BirsaKisanApp.DomainLayer.Entities.APIDetails>


<div class="container">
    <div class="d-flex justify-content-end">
        <a type="button" class="btn btn-outline-success my-3" href="@Url.Action("Create","Admin")">+ Add Record</a>

    </div>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                
                <th scope="col">ProjectName</th>
                <th scope="col">Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    
                    <td>@item.ProjectName</td>
                    <td>@item.UrlName</td>
                    <td>
                        <a class="btn btn-sm btn-primary" href="@Url.Action("Edit","Admin",new {id=item.Id})">Edit</a>
                        <a class="btn btn-sm btn-danger" href="@Url.Action("Delete","Admin",new {id=item.Id})">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
@*     <div class="d-flex justify-content-end">
        <input type="text" placeholder="Enter Id..." />
        <button type="button" class="btn btn-primary">Get Record and update</button>
    </div> *@

</div>

<br />
<br />
<br />
<br />
<br />