﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="" style="background-color:#78935E;">
    <marquee width="100%" behavior="alternate" bgcolor="#9EA91C" class="text-white">
        This is the news that will be flashed
    </marquee>
    <marquee width="100%" direction="right" bgcolor="#78935E" class="text-white">
        पोर्टल के संदर्भ में इस 1800-123-1136 टोल फ्री नंबर पर कॉल करें ।
    </marquee>
</div>

<div class="container">
    <div class="d-flex justify-content-center rounded-pill m-2 pt-2" style="background-color:#244702;">
        <h2 class="text-white px-5">
            <b>जोहार झारखंड</b>
        </h2>
    </div>
</div>
<div class="container">
    <div class="d-flex justify-content-start">
        <div class="rounded-pill m-2 pt-2" style="background-color:#244702;">
            <h2 class="text-white px-5">
                <b>@_localization.GetNameTag("importantschemes") </b>
            </h2>
        </div>
    </div>

    <div style="border: none;background:white;">
        <div class="container" data-aos="fade-up">
            <div class="row pb-5">
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <h3 class="text-white px-5 py-2" style="background-color:#244702;">
                        <b> <a class="link-underline link-underline-opacity-0 text-white" asp-controller="Directorate" asp-action="Agriculture">@_localization.GetNameTag("Agriculture")</a></b>
                    </h3>
                    <div class=" rounded-3" data-aos="zoom-in" data-aos-delay="100">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item ">@_localization.GetNameTag("AgricultureSchemes1")</li>
                            <li class="list-group-item ">@_localization.GetNameTag("AgricultureSchemes2")</li>
                            <li class="list-group-item ">@_localization.GetNameTag("AgricultureSchemes3")</li>
                            <li class="list-group-item ">@_localization.GetNameTag("AgricultureSchemes4")</li>
                            <li class="list-group-item ">@_localization.GetNameTag("AgricultureSchemes5")</li>
                            <li class="list-group-item ">@_localization.GetNameTag("AgricultureSchemes6")</li>
                        </ol>
                    </div>

                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <h3 class="text-white px-5 py-2" style="background-color:#244702;">
                        <b><a class="link-underline link-underline-opacity-0 text-white" asp-controller="Directorate" asp-action="Horticulture">@_localization.GetNameTag("Horticulture")</a></b>
                    </h3>
                    <div class=" rounded-3" data-aos="zoom-in" data-aos-delay="100">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item ">@_localization.GetNameTag("HorticultureSchemes1")</li>
                            <li class="list-group-item ">@_localization.GetNameTag("HorticultureSchemes2")</li>
                        </ol>
                    </div>

                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <h3 class="text-white px-5 py-2" style="background-color:#244702;">
                        <b>
                            <a class="link-underline link-underline-opacity-0 text-white" asp-controller="Directorate" asp-action="SoilConservation">@_localization.GetNameTag("SoilConservation")</a>
                        </b>
                    </h3>
                    <div class=" rounded-3" data-aos="zoom-in" data-aos-delay="100">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item ">@_localization.GetNameTag("SoilConservationSchemes1")</li>
                            <li class="list-group-item ">@_localization.GetNameTag("SoilConservationSchemes2")</li>
                            <li class="list-group-item ">@_localization.GetNameTag("SoilConservationSchemes3")</li>
                            <li class="list-group-item ">@_localization.GetNameTag("SoilConservationSchemes4")</li>
                        </ol>
                    </div>

                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <h3 class="text-white px-5 py-2" style="background-color:#244702;">
                        <b><a class="link-underline link-underline-opacity-0 text-white" asp-controller="Directorate" asp-action="Cooperative">@_localization.GetNameTag("Cooperative") </a></b>
                    </h3>
                    <div class=" rounded-3" data-aos="zoom-in" data-aos-delay="100">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item ">@_localization.GetNameTag("CooperativeSchemes1")</li>
                            <li class="list-group-item ">@_localization.GetNameTag("CooperativeSchemes2")</li>
                            <li class="list-group-item ">@_localization.GetNameTag("CooperativeSchemes3")</li>
                            <li class="list-group-item ">@_localization.GetNameTag("CooperativeSchemes4")</li>
                            <li class="list-group-item ">@_localization.GetNameTag("CooperativeSchemes5")</li>
                        </ol>
                    </div>

                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <h3 class="text-white px-5 py-2" style="background-color:#244702;">
                        <b>
                            <a class="link-underline link-underline-opacity-0 text-white" asp-controller="Directorate" asp-action="AnimalHusbandry">@_localization.GetNameTag("AnimalHusbandry")</a>
                        </b>
                    </h3>
                    <div class=" rounded-3" data-aos="zoom-in" data-aos-delay="100">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item ">@_localization.GetNameTag("AnimalHusbandrySchemes1")</li>
                            <li class="list-group-item ">@_localization.GetNameTag("AnimalHusbandrySchemes2")</li>
                            <li class="list-group-item ">@_localization.GetNameTag("AnimalHusbandrySchemes3")</li>
                        </ol>
                    </div>

                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <h3 class="text-white px-5 py-2" style="background-color:#244702;">
                        <b><a class="link-underline link-underline-opacity-0 text-white" asp-controller="Directorate" asp-action="Fisheries">@_localization.GetNameTag("Fisheries")</a></b>
                    </h3>
                    <div class=" rounded-3" data-aos="zoom-in" data-aos-delay="100">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item ">@_localization.GetNameTag("FisheriesSchemes1")</li>
                            <li class="list-group-item ">@_localization.GetNameTag("FisheriesSchemes2")</li>
                            <li class="list-group-item ">@_localization.GetNameTag("FisheriesSchemes3")</li>
                            <li class="list-group-item ">@_localization.GetNameTag("FisheriesSchemes4")</li>
                        </ol>
                    </div>

                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <h3 class="text-white px-5 py-2" style="background-color:#244702;">
                        <b><a class="link-underline link-underline-opacity-0 text-white" asp-controller="Directorate" asp-action="Dairy">@_localization.GetNameTag("Dairy")</a></b>
                    </h3>
                    <div class=" rounded-3" data-aos="zoom-in" data-aos-delay="100">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item ">@_localization.GetNameTag("DairySchemes1")</li>
                            <li class="list-group-item ">@_localization.GetNameTag("DairySchemes2")</li>
                        </ol>
                    </div>

                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <h3 class="text-white px-5 py-2" style="background-color:#244702;">
                        <b>
                            <a class="link-underline-opacity-10 text-white" asp-controller="Directorate" asp-action="JSAMB">@_localization.GetNameTag("JSAMB")</a>
                        </b>
                    </h3>
                    <div class=" rounded-3" data-aos="zoom-in" data-aos-delay="100">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item ">@_localization.GetNameTag("JSAMBSchemes1")</li>
                            <li class="list-group-item ">@_localization.GetNameTag("JSAMBSchemes2")</li>
                            <li class="list-group-item ">@_localization.GetNameTag("JSAMBSchemes3")</li>
                            <li class="list-group-item ">@_localization.GetNameTag("JSAMBSchemes4")</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

