﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container heroSection">
    <h1 data-aos="fade-left">@_localization.GetNameTag("About")</h1>
</div>
<!-- Department Introduction -->
<div class="container my-5">
    <p>The State of Jharkhand was created in November’ 2000 after carving 79 lakh hectares geographical area from the State of Bihar for better planning and execution of development activities of a ecologically different zone ( Hills & Plateau region compared to Bihar plains). Agriculture is the main stay for the 80% of rural population of the state. Agriculture is their employment and primary income generating activity. The agricultural economy of the Jharkhand state is characterized by dependence on nature, low investment ,low productivity, mono-croping with paddy as the dominant crop , in inadequate irrigation facilities and small ands marginal holdings. The dependence of agriculture on the Vagaries of the rain-god can be gauged from the fact that as much as 92% of the total cultivated area is unirrigated. The cultivable land resources of the state has good potential for higher production of horticulture and forest products. The soil is young and has high capacity of fixation of humus. The forest provides sufficient biomass to feed its soiling. However, Soil erosion and failure to recycle the biomass is depleting the soil fertility. Hence , a judicious oil ,water and land management is required only that can improve agriculture productivity. Despite the fact that the state has a good rainfall , the surface water availability to agriculture is not sufficient due to inadequate storage facilities etc. as far as the status of ground water is concerned , it is also in the poor state due to little recharging of ground water by natural process in absence of artificial recharging facilities, as a result , the water label in the plateau is going down. Presently, The availability of water resource is only 287810 lakhs m3, out of which 237890 lakh .m3 is from surface water and rest 49920 lakh m3 is from ground water. The total utilization of surface and ground water in the state for irrigation purposes so far is only 47360 lakh m3 out of which 39640 lakh m3 is surface water and 7720 lakh m3 is ground water. For all round agricultural development, technology must be supplemented by institutional mechanisms to ensure the provision of the essential facilities and services that the farmers need to improve agronomic practices and obtain higher yield. Only the development of a healthy agricultural marketing system can guarantee remunerative prices to the farmers and motivate the adoption of scientific cultivation for raising agricultural productivity.</p>
    <h4 class="about-h3"><b class="">1</b>  Jharkhand Krishi rin Maafi Yojana</h4>
    <div class=hr></div>
    <p>Great news for farmers! The government has made a crucial decision in favor of farmers by deciding to waive off their old debts. While several state governments have already taken the initiative to waive off farmers' debts, benefiting many, the Jharkhand government has now decided to waive off the previous loans of eligible farmers. This decision will benefit those farmers who qualify for the Farmer Debt Waiver Scheme but have not yet availed its benefits. Today, through Tractor Junction, we are providing directions from the Jharkhand government and complete information about the debt waiver scheme, so that more and more farmers can take advantage of this program.</p>

    <h4 class="about-h3"><b class="">2</b> Chief Minister Drought Relief Scheme</h4>
    <div class=hr></div>
    <p>Drought has been declared in 226 blocks of 22 districts in the state of Jharkhand (excluding East Singhbhum and Simdega). Considering the drought situation, an immediate relief amount of ₹3500 (advance) will be provided per farmer family in each of the 226 blocks. This aid will be swiftly disbursed to all affected farming families in these blocks. As per the assessment report on drought by the Agriculture Department, the impact is observed in 22 districts comprising 226 blocks in the state.</p>
    <p>In this context, it is the moral responsibility of the state government to ensure the prompt availability of drought relief funds to the affected farmer families. Approximately, over 30 lakh farming families in the state are grappling with the effects of drought, and they stand to benefit from this initiative.</p>

    <h4 class="about-h3"><b class="">3</b> Jharkhand State Crop Relief Scheme (JRFRY)</h4>
    <div class=hr></div>
    <p>The state government has announced a new scheme called the Jharkhand State Crop Relief Scheme (JRFRY) to ensure both public funds and the well-being of farmers are safeguarded. This scheme aims to provide financial assistance to farmers in situations of crop loss due to any natural disaster or calamity.</p>
    <p>The Jharkhand State Crop Relief Scheme (JRFRY) is not a crop insurance scheme; instead, it is a compensation plan provided to farmers in the event of crop damage, distinct from a crop insurance scheme. The scheme is committed to providing a safety net and a certain level of financial assistance to farmers affected by crop loss due to natural disasters. It will act as a protective shield for both landowning and landless farmers. Farmers enrolled in this scheme will not be required to pay any type of crop insurance premium, and they will receive direct financial assistance from the government in the event of crop loss.</p>

</div>