﻿
@{
    ViewData["Title"] = @_localization.GetNameTag("ContactUs");
}

<div class="container heroSection">
    <h1 data-aos="fade-left">@_localization.GetNameTag("ContactUs")</h1>
</div>
<!-- Department Introduction -->
<!-- ======= Contact Section ======= -->
<div class="contactList">
    <ol class="NameList">
        <li>
            <strong>Shri Aboobacker Siddique P, IAS</strong>
            <p>
                Secretary
                Department of Agriculture, Animal Husbandry & Co-operative,
                Government of Jharkhand
            </p>
            <p><b>Email id:</b>jhagriculture[at]gmail[dot]com</p>
            <p><b>Phone Number:</b>06512490578</p>
            <p>
                <b>Address:</b>1st Floor Nepal House, Doranda,
                Ranchi-Jharkhand
                PIN: 834002
            </p>
        </li>
        <li>
            <strong>Shri Pradeep Kumar Hazari</strong>
            <p>
                Special Secretary cum Adviser,
                Department of Agriculture,
                Animal Husbandry and Co-operative,
                Government of Jharkhand
            </p>
            <p><b>Email id:</b>advisercell[at]gmail[dot]com</p>
            <p><b>Phone Number:</b>0651-2490024</p>
            <p>
                <b>Address:</b>1st Floor Nepal House, Doranda,
                Ranchi-Jharkhand
                PIN: 834002
            </p>
        </li>
        <li>
            <strong>Shri Gopal Jee Tiwari</strong>
            <p>
                Joint Secretary,
                Department of Agriculture,
                Animal Husbandry and Co-operative,
                Government of Jharkhand
            </p>
            <p><b>Email id:</b>agrisoil123[at]gmail[dot]com</p>
            <p><b>Phone Number:</b>0651-2490024</p>
            <p>
                <b>Address:</b>1st Floor Nepal House, Doranda,
                Ranchi-Jharkhand
                PIN: 834002
            </p>
        </li>

        <li>
            <strong>Shri Kumar Tarachand, IAS</strong>
            <p>
                Director Cum Nodal Officer,
                Directorate of Agriculture,
                Department of Agriculture,
                Animal Husbandry and Co-operative,
                Government of Jharkhand
            </p>
            <p><b>Email id:</b>directoragriculturejh [at]gmail [dot]com</p>
            <p><b>Phone Number:</b>0651-2233549</p>
            <p>
                <b>Address:</b>1st floor, Krishi Bhawan, Kanke Road
                Ranchi- 834008
            </p>
        </li>

        <li>
            <strong>Shri Suraj Kumar (IAS)</strong>
            <p>
                Director Cooperative,
                Directorate of Agriculture,
                Department of Agriculture,
                Animal Husbandry and Co-operative,
                Government of Jharkhand
            </p>
            <p><b>Email id:</b>jharkhand.coopregistrar@gmail.com</p>
            @* <p><b>Phone Number:</b>0651-2233549</p> *@
            <p>
                <b>Address:</b>Registrar, Cooperative Societies
                3rd Floor, Pashupalan and Sahkarita Bhawan,
                Hesag, Hatia, Ranchi - 834003
            </p>
        </li>
    </ol>
</div>

