﻿
@{
    ViewData["Title"] = "Dashboard";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row my-5">
        <div class="col-6">
            <canvas id="myChart1" style="width:100%;max-width:600px"></canvas>
        </div>
        <div class="col-6">
            <canvas id="myChart2" style="width:100%;max-width:600px"></canvas>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <canvas id="myChart4" style="width:100%;max-width:600px"></canvas>
        </div>
        <div class="col-6">
            <canvas id="myChart3" style="width:100%;max-width:600px"></canvas>
        </div>
        <div class="col-6">
            <canvas id="myChart5" style="width:100%;max-width:600px"></canvas>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <table class="table table-striped">
            <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">District</th>
            <th scope="col">Total</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <th scope="row">1</th>
            <td>Bokaro</td>
            <td>55</td>
            </tr>
            <tr>
            <th scope="row">2</th>
            <td>Chatra</td>
            <td>12</td>
            </tr>
            <tr>
            <th scope="row">3</th>
            <td>Deoghar</td>
            <td>34</td>
            </tr>
            <tr>
            <th scope="row">4</th>
            <td>Dhanbad</td>
            <td>45</td>
            </tr>
            <tr>
            <th scope="row">5</th>
            <td>Dumka</td>
            <td>45</td>
            </tr>
            <tr>
            <th scope="row">6</th>
            <td>Jamshedpur</td>
            <td>45</td>
            </tr>
            </tbody>
            </table> 
        </div>
    </div>
</div>
<script>
    const xValues = ["Bokaro", "Chatra", "Deoghar", "Dhanbad", "Dumka", "Jamshedpur", "Garhwa", "Giridih", "Godda", "Gumla", "Hazaribagh", "Jamtara", "Khunti", "Kodarma", "Latehar", "Lohardaga", "Pakur", "Palamu", "Ramgarh", "Ranchi", "Sahibganj", "Saraikela", "Simdega", "West Singhbhum"];
    const yValues = [55, 49, 44, 24, 15, 55, 49, 44, 24, 15, 45, 98, 55, 49, 44, 24, 15, 55, 49, 44, 24, 15, 45, 98,76,87];
    const barColors = ["red", "green", "blue", "orange", "brown", "red", "green", "blue", "orange", "brown", "red", "green", "blue", "orange", "brown", "red", "green", "blue", "orange", "brown", "red", "green", "blue", "orange", "brown", "red", "green", "blue", "orange", "brown"];

    new Chart("myChart1", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: "District wise report"
            }
        }
    });
    new Chart("myChart2", {
        type: "bar",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: "District wise report"
            }
        }
    });

    new Chart("myChart3", {
        type: "pie",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: "District wise report"
            }
        }
    });
    new Chart("myChart4", {
        type: "polarArea",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            legend: { display: false },
            responsive: true,
            title: {
                display: true,
                text: "District wise report"
            }
        }
    });
    new Chart("myChart5", {
        type: "horizontalBar",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            legend: { display: false },
            responsive: true,
            title: {
                display: true,
                text: "District wise report"
            }
        }
    });
</script>
