﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container mb-5">
    @* search input *@
    <div class="row d-flex justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-6">            
            <div class="d-flex justify-content-between my-3 border border-success border-3 rounded-pill">
                @* <label for="searchId" class="form-label">Enter ID to search:</label> *@
                <input type="text" class="my-2 ms-3 form-control rounded-pill fs-3" id="searchId" value="" oninput="add_hyphen()" placeholder="@_localization.GetStatus("enterUID")" style="border:none;" maxlength="14">               
            </div>
            <div class="d-flex justify-content-between">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <div class="card-title" id="captcha"></div>
                        <input type="text" class="form-control border border-success border-1 rounded-pill fs-3" placeholder="@_localization.GetStatus("enterCaptcha")" id="cpatchaTextBox" />
                    </div>
                </div>
                <div>
                    <br /><br /><br />
                    <button class="btn btn-lg btn-success rounded-pill mt-5 mx-1 fs-3" id="searchButton">@_localization.GetStatus("Search")</button>
                </div>
                
            </div>
            <div class="d-flex justify-content-end my-3 border border-white border-3 rounded-pill">
                @* <label for="searchId" class="form-label">Enter ID to search:</label> *@                
                
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <b><label class="fs-4 text-danger" id="lblError"></label></b>
        <div>
            <p>किसान का विशेष पहचान संख्या प्राप्त करें।</p>
            <a href="#" class="link-primary">Get Farmer's unique Identification Number</a>
        </div>
    </div>

    
    @* loading spinner *@
    <div class="d-flex justify-content-center">
        <button class="btn btn-outline-success" type="button" id="loading" style="display: none;"  disabled>
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Loading...
        </button>
    </div>

    <div id="projectLists" >

        <div class="card m-5 border border-success border-3">
            <div class="card-body">
                <h5 class="card-title">@_localization.GetNameTag("AgricultureSchemes1")</h5>
                <div class="border  border-2 my-2">
                    <div id="kishan" class="m-2"></div>
                </div>
                <div class="d-flex justify-content-end">
                    <a href="#" class="btn btn-outline-success">Know more</a>
                </div>

            </div>
        </div>

        <div class="card m-5 border border-success border-3">
            <div class="card-body">
                <h5 class="card-title">@_localization.GetNameTag("AgricultureSchemes2")</h5>
                <div class="border  border-2 my-2">
                    <div id="kishan" class="m-2"></div>
                </div>
                <div class="d-flex justify-content-end">
                    <a href="#" class="btn btn-outline-success">Know more</a>
                </div>

            </div>
        </div>

        <div class="card m-5 border border-success border-3">
            <div class="card-body">
                <h5 class="card-title">@_localization.GetNameTag("AgricultureSchemes3")</h5>
                <div class="border  border-2 my-2">
                    <div id="kishan" class="m-2"></div>
                </div>
                <div class="d-flex justify-content-end">
                    <a href="#" class="btn btn-outline-success">Know more</a>
                </div>

            </div>
        </div>

        <div class="card m-5 border border-success border-3">
            <div class="card-body">
                <h5 class="card-title">@_localization.GetNameTag("AgricultureSchemes4")</h5>
                <div class="border  border-2 my-2">
                    <div id="kishan" class="m-2"></div>
                </div>
                <div class="d-flex justify-content-end">
                    <a href="#" class="btn btn-outline-success">Know more</a>
                </div>

            </div>
        </div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/md5-js@0.0.3/md5.min.js" integrity="sha256-onQOwF8Rfo3d99crcADGf3EV5IHP6E8OQWA4PrKZ1Xk=" crossorigin="anonymous"></script>

<script>
    //-----------Add Hyphen on UID
    //-----------Create captcha
    //-----------Search Click
    //-----------getapi
    //-----------showdata
    const d = [
        [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
        [1, 2, 3, 4, 0, 6, 7, 8, 9, 5],
        [2, 3, 4, 0, 1, 7, 8, 9, 5, 6],
        [3, 4, 0, 1, 2, 8, 9, 5, 6, 7],
        [4, 0, 1, 2, 3, 9, 5, 6, 7, 8],
        [5, 9, 8, 7, 6, 0, 4, 3, 2, 1],
        [6, 5, 9, 8, 7, 1, 0, 4, 3, 2],
        [7, 6, 5, 9, 8, 2, 1, 0, 4, 3],
        [8, 7, 6, 5, 9, 3, 2, 1, 0, 4],
        [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
    ];


    const p = [
        [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
        [1, 5, 7, 6, 2, 8, 3, 0, 9, 4],
        [5, 8, 0, 3, 7, 9, 6, 1, 4, 2],
        [8, 9, 1, 6, 0, 4, 3, 5, 2, 7],
        [9, 4, 5, 3, 1, 2, 6, 8, 7, 0],
        [4, 2, 8, 6, 5, 7, 3, 9, 0, 1],
        [2, 7, 9, 3, 8, 0, 6, 4, 1, 5],
        [7, 0, 4, 6, 9, 1, 3, 2, 5, 8]
    ];


    const inv = [0, 4, 3, 2, 1, 5, 6, 7, 8, 9];

    document.getElementById("captcha").onload = createCaptcha();
    var code;

    document.getElementById("projectLists").style.display = "none";
    const api_url = "https://jkrmy.jharkhand.gov.in/Seva/GetAdharResult?uid=";
    const JHFRY_api_url = "https://jkrmy.jharkhand.gov.in/Seva/GetAdharResult?uid=";
    const MSRY_api_url = "https://jkrmy.jharkhand.gov.in/Seva/GetAdharResult?uid=";
    const BlockChain_api_url = "https://jkrmy.jharkhand.gov.in/Seva/GetAdharResult?uid=";
    const searchButton = document.getElementById("searchButton");
    const searchIdInput = document.getElementById("searchId");
    const loadingSpinner = document.getElementById("loading");

    function add_hyphen() {
        var input = document.getElementById("searchId");
        var str = input.value.replace(/-/g, "");;
        str = str.replace("-", "");
        var formattedStr = '';

        for (var i = 0; i < str.length; i++) {
            if (i > 0 && i % 4 === 0) {
                formattedStr += "-";
            }
            formattedStr += str.charAt(i);
        }
        input.value = formattedStr;
    }
    function createCaptcha() {

    document.getElementById('captcha').innerHTML = "";
    var charsArray = "0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ";
    var lengthOtp = 6;
    var captcha = [];
    for (var i = 0; i < lengthOtp; i++) {

        var index = Math.floor(Math.random() * charsArray.length + 1);
        if (captcha.indexOf(charsArray[index]) == -1)
            captcha.push(charsArray[index]);
        else i--;
    }
    var canv = document.createElement("canvas");
    canv.id = "captcha";
    canv.width = 400;
    canv.height = 90;
    var ctx = canv.getContext("2d");
        const grd = ctx.createRadialGradient(50, 50, 5, 80, 80, 80);
        grd.addColorStop(0, "#F8A9A9");
        grd.addColorStop(1, "#A9AEF8");
        ctx.strokeStyle = "#064B04";
        ctx.font = "65px Garamond";
        ctx.fillStyle = grd;
        ctx.fillRect(0, 0, 260, 300);
    ctx.strokeText(captcha.join(""), 20, 60);

    code = captcha.join("");
    document.getElementById("captcha").appendChild(canv);
}
    function validateAadhar() {
        const aadharInput = document.getElementById("searchId").value.replaceAll('-', '').trim();
        const aadharNum = aadharInput.split('').map(Number);
        var lblError = document.getElementById("lblError");
        lblError.innerHTML = "";

        if (aadharNum.length !== 12 || aadharNum.some(isNaN)) {            
            lblError.innerHTML = "@_localization.GetStatus("labelAdhar")";
            return;
        }

        const reversedNum = aadharNum.reverse();
        let c = 0;
        for (let i = 0; i < reversedNum.length; ++i)
            c = d[c][p[i % 8][reversedNum[i]]];

        if (c === 0) {
            lblError.innerHTML = "uid is valid";
            const searchId = searchIdInput.value.replaceAll('-', '');
            if (searchId.length == 12) {
                event.preventDefault();
                debugger
                if (document.getElementById("cpatchaTextBox").value == code) {
                    loadingSpinner.style.display = 'block';
                    var searchHash = md5(searchId);
                    console.log(searchHash);
                    const searchUrl = api_url + searchHash + "&encI=" + "00J32K34R3eM45Y";//0000847BD34C2F9FBC5DF71498398F9C
                    console.log(searchUrl);
                    getapi(searchUrl);
                } else {
                    lblError.innerHTML = "@_localization.GetStatus("labelCaptcha")";
                }
            }
            else lblError.innerHTML = "@_localization.GetStatus("labelAdhar1")";
        } else lblError.innerHTML = "@_localization.GetStatus("labelAdhar1")";
    }
    searchButton.addEventListener("click", function () {
        validateAadhar();
        createCaptcha();        
    });
    async function getapi(url) {
        try {
            const jkrmyResponse = await fetch(url);
            var jkrmyData;
            if (jkrmyResponse.status === 200) {
                jkrmyData = await jkrmyResponse.json();
                loadingSpinner.style.display = 'none';
                if (jkrmyResponse) {
                    document.getElementById('loading').style.display = 'none';
                }
                show(jkrmyData);
            } else {
                loadingSpinner.style.display = 'none';
                jkrmyData = await jkrmyResponse.json();
                alert(data.status.toString());
            }
        } catch (error) {
            loadingSpinner.style.display = 'none';
            alert('An error occurred while fetching data.');
            console.error(error);
        }
    }
    function show(data) {
        if (data.status == "Beneficiery Not Found - 404" || data.status == "Unauthorised Access") {
            tab = `${data.status}` == "Beneficiery Not Found - 404" ? "Beneficiery Not Found" : "Unauthorised Access";
            document.getElementById("projectLists").style.display = "block";
            document.getElementById("kishan").innerHTML = tab;
        } else { 

        if (typeof data === 'object') {
                tab = ` <div class="container">
      <div class="row">
        <div class="col-12">
                             <b>@_localization.GetStatus("FarmerName")</b>  : ${data.FarmerName}
        </div>
        <div class="col-12">
                              <b>@_localization.GetStatus("FatherOrHusbandName")</b>  : ${data.FatherOrHusbandName}
        </div>
        <div class="col-md-12 col-lg-8">
                              <b>@_localization.GetStatus("eKYCDate")</b> : ${data.EKycDate}
        </div>
            <div class="col-md-12 col-lg-4">
                                      <b>@_localization.GetStatus("Aadhar")</b> : ${data.UNQID}
            </div>
                        <div class="col-md-12 col-lg-8">
                                              <b>@_localization.GetStatus("kccAccount")</b> : ${data.KCCAccount}
            </div>
                <div class="col-md-12 col-lg-4">
                                              <b>@_localization.GetStatus("BankName")</b> : ${data.BankName}
                </div>
      </div>
    </div>`;

        } else {
                tab = `status : ${data.status}`;
        }
        document.getElementById("projectLists").style.display = "block";
        document.getElementById("kishan").innerHTML = tab;
    }
    }

   

</script>