﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container heroSection">
    <h1 data-aos="fade-left">@_localization.GetNameTag("Fisheries")</h1>
</div>
<div class="container">
    <div class="row my-2">
        <div id="list-example" class="d-none d-md-block col-4 list-group section-title">
            <ol class="list-group list-group-numbered">
                <li class="list-group-item ">@_localization.GetNameTag("FisheriesSchemes1")</li>
                <li class="list-group-item ">@_localization.GetNameTag("FisheriesSchemes2")</li>
                <li class="list-group-item ">@_localization.GetNameTag("FisheriesSchemes3")</li>
                <li class="list-group-item ">@_localization.GetNameTag("FisheriesSchemes4")</li>
            </ol>
        </div>

        <div class="col-sm-12 col-md-8" data-bs-spy=" scroll" data-bs-target="#list-example" data-bs-offset="0" tabindex="0">
            <div>
                <h3 class="about-h3"><b class="">1</b> @_localization.GetNameTag("FisheriesSchemes1")</h3>
                <div class=hr></div>
                <p>
                    झारखण्ड का मूल आधार कृषि है तथा लगभग 70 प्रतिशत जनसंख्या कृषि पर निर्भर है खाद्य सुरक्षा एवं कृषकों की आय में वृद्धि के दृष्टियत की रोगों एवं अवारों का प्रभावी नियंत्रण आवश्यक है, की ये फसलोत्पादन में क्षति के एक मुख्य कारक है। वैज्ञानिक आकलन के अनुसार देश में अकेले कीटों द्वारा प्रतिवर्ष अन्न उत्पादन में क्षति 15.7 प्रतिशत एवं सब्जियों में 25-30 प्रतिशत होती है। कीट रोगों के कारण नुकसान से देश के कुल वित्तीय घाटा 50 हजार करोड़ प्रति वर्ष से अधिक है |
                </p>
                <p>
                    उत के दृष्टिगत कृषकों की सहभागिता से फसलों एवं रोगों के प्रकोप की निगरानी करते हुए समय से कृषकों को उचित जानकारी उपलब्ध कराने तथा वर्तमान परिदृष्य में उपरोक्त क्षति से बचाव तथा फसलोत्पादन हेतु सहभागी फसल निगरानी एवं निदान प्रणाली कार्यक्रमको आवश्यकता है।
                </p>
                <h6>उद्देश्य</h6>
                <p>
                    इस योजना का मुख्य उद्देश्य, झारखण्ड राज्य में कृषि के क्षेत्र में आवश्यक उन्नत तकनीकों यथा बीजोपचार, जैविक कीटनाशियों तथा जैविक खेती के प्रति किसानों विशेषकर महिला पकों में जागरुकता लाना, कीटनाशी विक्रेताओं को जैविक एवं रासायनिक कीटनाशियों का समुचित प्रयोग के बारे में प्रशिक्षण देना, लीफलेट, पम्पलेट एवं कृषि चौपाल के माध्यम से यथोचित उन्नत तकनीकों से किसानों को अवगत कराना, जैविक एवं रासायनिक कीटनाशियों की उचित गुणवत्ता सुनिश्चित कराना तथा जैविक एवं रासायनिक कीटनाशियों के अन्धाधुन्ध प्रयोग से हो रहे दुष्प्रभाव से उनके स्वास्थ्य एवं पर्यावरण को सुरक्षित रखा जा सके, पौधा संरक्षण में एवं रासायनिक कीशियों यंत्रो एवं उपकरणों के प्रयोग से दक्षता तथा कटाई पश्चात् भंडारित अन्न की कीट रोगों से सुरक्षा सुनिश्चित करना है।
                </p>
            </div>

            <div>
                <h3 class="about-h3"><b class="">2</b> @_localization.GetNameTag("FisheriesSchemes2")</h3>
                <div class=hr></div>
                <p>
                    United National General Assembly द्वारा वितीय वर्ष 2023 को अन्तर्राष्ट्रीय मिलेट्स वर्ष घोषित किया है, जिसके आलोक में भारत सरकार कृषि एवं किसान कल्याण मंत्रालय, नई दिल्ली द्वारा प्रत्येक राज्य में अन्तर्राष्ट्रीय मिलेट्स वर्ष को मनाने का निर्णय लिया है, जिसके तर्ज पर विभाग द्वारा झारखण्ड राज्य में भी अन्तर्राष्ट्रीय मिलेट्स वर्ष को राज्य एवं जिला स्तर पर मिलेट्स को देने हेतु विभिन्न कार्यक्रम गतिविधियों का आयोजन किया जा रहा है, ताकि किसानों के बीच ज्यादा से ज्यादा जागरूकता लाते हुए पैदावार में वृद्धि किया जा सके।
                </p>
                <p>
                    झारखण्ड राज्य में मिलेट्स फसलों (महुआ एवं ज्वार) की अपार संभावनाएं है, जिसे देखते हुए अन्तर्राष्ट्रीय मिलेट वर्ष 2023 की कार्य योजना में विभिन्न कार्यक्रम गतिविधियों में मिलेट्स फसलों की महत्ता को समाहित करते हुए जिलों में जागरुकता रख, नुक्कड़ नाटक, किसान गोष्ठी, मेला, किसान वैज्ञानिक अन्तर मिलन, परिभ्रमण, प्रशिक्षण, मिलेट्स फसलों का प्रत्यक्षण एवं बीज वितरण आदि कार्यक्रम का आयोजन बृहत पैमाने में किया जाना है।
                </p>
            </div>

            <div>
                <h3 class="about-h3"><b class="">3</b> @_localization.GetNameTag("FisheriesSchemes3")</h3>
                <div class=hr></div>
                <p>
                    कृषि कार्य में जलवायु परिवर्तन के कारण उत्पादकता में कमी एवं कृषकों को आर्थिक क्षति उठना पड़ता है जलवायु परिवर्तन के नीतियों के समाधान हेतु कृषि क्षेत्र में नई अनुसंधान को विकसित करने के लिए एवं विभिन्न जलवायु परिस्थिति के अनुसार फसलों का अनुशंसा करने से कृषि उत्पादकता में वृद्धि होगी।
                </p>
            </div>

            <div>
                <h3 class="about-h3">
                    <b class="">4</b> @_localization.GetNameTag("FisheriesSchemes4")
                </h3>
                <div class=hr></div>
                <p>
                    किसान उत्पादन समूह को मजबूती एवं प्रोत्साहन प्रदान करने एवं गुणवत्तायुक्त उत्पादक, बेहतर विपणन, प्रौद्योगिकी तक पहुँच बनाने, सक्षम होने के लिए सहाव्य अनुदान प्रदान की जायगी।
                </p>

            </div>
        </div>
    </div>
</div>
