﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@* @ViewData["Title"] -  *@@_localization.GetNameTag("Title")</title>
    <link rel="icon" type="image/png" href="~/images/logo/jh_logo.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Seed.styles.css" asp-append-version="true" />
    <link href="~/lib/aos/aos.css" rel="stylesheet" />
    <link href="~/css/swiper.css" rel="stylesheet" />
    <link href="~/lib/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link href="~/lib/animate.css/animate.min.css" rel="stylesheet" />
    @*     <link href="~/lib/glightbox/css/glightbox.css" rel="stylesheet" />
    <link href="~/lib/glightbox/css/glightbox.min.css" rel="stylesheet" /> *@
</head>
<body>
    <!-- TopBar -->
    <div class="top-bar d-flex align-items-center" style="background:#40433F;border-bottom: #d7cfc3 2px solid;height:40px;">
        <div class="container">
            <div class="row">
                <div class="d-none d-md-block col-md-4 text-md-left text-center">
                    <ul class="top_nav1 text-white rounded-pill" style="background:#9EA91C;">
                        <li><i class="fa fa-calendar"></i><span id="datedisplay"></span></li>
                        <li><i class="fa fa-clock-o"></i><span id="clockDisplay"></span></li>
                    </ul>
                </div>


                <div class="col-md-8 col-12">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </div>
    </div>
    <!-- TopHeader -->
    <div class="top-header" style="background:#244702;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-12 d-flex justify-content-center" style="margin-top: 10px; margin-bottom: 10px;">
                    <div class="d-flex" style="width: 100px; height: 100px">
                        <img class="" src="~/images/logo/jh_logo.png" alt="jharkhand government logo" width="100" height="100">
                    </div>
                </div>
                <div class=" d-none d-md-block col-md-8 col-12 d-md-flex justify-content-center align-items-center">
                    <div class="text-center text-nowrap navbar-brand" data-aos="flip-up" data-aos-delay="100">
                        <h4 id="demo" style="color:white"><b>@_localization.GetNameTag("Header1")</b></h4>

                        <h5 style="color:#d7cfc3;"><b>@_localization.GetNameTag("Header2")</b></h5>
                    </div>
                </div>
                <div class="col-md-2 col-12 d-flex justify-content-center" style="margin-top: 10px; margin-bottom: 10px;">
                </div>
            </div>

        </div>
    </div>

    <!-- TopHeader -->
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark " id="nav" style="background:#3a7501;z-index:11;">
        <div class="container ">
            <!-- Logo -->
            <a href="#" class="navbar-brand fs-4" data-aos="fade-up" data-aos-delay="200">@_localization.GetNameTag("Title")</a>
            <!-- Toggle -->
            <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#navbarOffcanvas" aria-controls="navbarOffcanvas" aria-expanded="true"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        </div>
    </nav>
    <!-- SideBar -->
    <div class="sidebar offcanvas offcanvas-start navbar-dark" id="navbarOffcanvas" tabindex="-1"
         aria-labelledby="offcanvasNavbarLabel" style="background:#3a7501;">
        <!-- SideBar Header -->
        <div class="offcanvas-header text-white border-bottom">
            <h5 class="offcanvas-title " id="offcanvasNavbarLabel">@_localization.GetNameTag("Title")</h5>
            <button type="button" class="btn-close btn-close-white text-reset shadow-none"
                    data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <!-- SideBody -->
        <div class="offcanvas-body d-flex flex-column p-4">
            <div class="navbar-nav justify-content-center flex-grow-1">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item p-2">
                        <a class="nav-link" aria-current="page" asp-controller="Home" asp-action="Index">@_localization.GetNameTag("Home")</a>
                    </li>

                    <li class="nav-item p-2">
                        <a class="nav-link" aria-current="page" asp-controller="Home" asp-action="About">@_localization.GetNameTag("About")</a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link" asp-controller="Home" asp-action="Dashboard">@_localization.GetNameTag("Dashboard")</a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link" asp-controller="Home" asp-action="Status">@_localization.GetNameTag("Status")</a>
                    </li>
                    <li class="nav-item p-2 dropend">
                        <a style="width:100%;" class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="down" data-bs-toggle="dropdown" aria-expanded="false">
                            @_localization.GetNameTag("Directorate")
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown" style="background:#78935E;">

                            <li class="nav-item  dropdown dropend">
                                <a class="dropdown-item" asp-controller="Directorate" asp-action="Agriculture">@_localization.GetNameTag("Agriculture")</a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" asp-controller="Directorate" asp-action="Horticulture">@_localization.GetNameTag("Horticulture")</a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" asp-controller="Directorate" asp-action="SoilConservation">@_localization.GetNameTag("SoilConservation")</a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" asp-controller="Directorate" asp-action="Cooperative">@_localization.GetNameTag("Cooperative") </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" asp-controller="Directorate" asp-action="AnimalHusbandry">@_localization.GetNameTag("AnimalHusbandry")</a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" asp-controller="Directorate" asp-action="Fisheries">@_localization.GetNameTag("Fisheries")</a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" asp-controller="Directorate" asp-action="Dairy">@_localization.GetNameTag("Dairy")</a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" asp-controller="Directorate" asp-action="JSAMB">@_localization.GetNameTag("JSAMB")</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link" asp-controller="Home" asp-action="ContactUs">@_localization.GetNameTag("ContactUs")</a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link" asp-controller="Home" asp-action="Login">@_localization.GetNameTag("LogIN")</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="d-none d-lg-block col-lg-3" style="background:#3a7501;">
                <div class="list-group mt-3" >
                    <a href="#" class="list-group-item list-group-item-success list-group-item-action">Home</a>
                    <a href="#" class="list-group-item list-group-item-success list-group-item-action">About</a>
                    <a href="#" class="list-group-item list-group-item-success list-group-item-action">Status</a>
                    <a href="#" class="list-group-item list-group-item-success list-group-item-action">Contact US</a>
                </div>
            </div>
            <div class="col-sm-12 col-lg-8">

                @RenderBody()
            </div>

        </div>

        

    </div>
    <!-- ======= Footer ======= -->
    <div id="footer" class="" style="background:#78935E;">

        

        <div class="footer-legal text-center text-white" style="background:#244702;">
            <div class="container">
                <div class="copyright">
                    &copy; Copyright <strong>
                        <span>
                            Birsa Kisan Integrated Portal
                        </span>
                    </strong>. All Rights Reserved
                </div>
                <div class="credits">
                    Designed and Developed by <b>AGRICULTURE-IT-PMU</b>
                    under guidance of <b>NIC, JHARKHAND</b>
                </div>
            </div>
        </div>
    </div>
    @*    <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2023 - Seed - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/aos/aos.js"></script>
    <script src="~/lib/glightbox/js/glightbox.js"></script>
    <script src="~/lib/glightbox/js/glightbox.min.js"></script>

    <script src="~/lib/swiper/swiper-bundle.min.js"></script>
    <script src="~/js/swiper.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
