﻿@using Microsoft.AspNetCore.Identity
@using BirsaKisanApp.PresentaionLayer.WebUI.Services;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="d-flex justify-content-center">
@if (SignInManager.IsSignedIn(User))
{
    <div class="nav-item">
        <a  class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </div>
    <div class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-white">Logout</button>
        </form>
    </div>
}
else
{
    <div class="nav-item">
            <a class="nav-link text-white" asp-controller="FarmerRegistration" asp-action="Index">Register</a>
    </div>
    <div class="nav-item">
        <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>
}
</div>
