﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@* @ViewData["Title"] -  *@@_localization.Getkey("title")</title>
    <link rel="icon" type="image/png" href="~/images/logo/jh_logo.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Seed.styles.css" asp-append-version="true" />
    <link href="~/lib/aos/aos.css" rel="stylesheet" />
    <link href="~/css/swiper.css" rel="stylesheet" />
    <link href="~/lib/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link href="~/lib/animate.css/animate.min.css" rel="stylesheet" />
    @*     <link href="~/lib/glightbox/css/glightbox.css" rel="stylesheet" />
    <link href="~/lib/glightbox/css/glightbox.min.css" rel="stylesheet" /> *@
</head>
<body>
    <div class="top-bar d-flex align-items-center" style="background:#40433F;border-bottom: #d7cfc3 2px solid;height:40px;">
        <div class="container">
            <div class="row">
                <div class="d-none d-md-block col-md-4 text-md-left text-center">
                    <ul class="top_nav1 text-white rounded-pill" style="background:#9EA91C;">
                        <li><i class="fa fa-calendar"></i><span id="datedisplay"></span></li>
                        <li><i class="fa fa-clock-o"></i><span id="clockDisplay"></span></li>
                    </ul>
                </div>


                <div class="col-md-8 col-12">
                    <partial name="_LoginPartial" />                    
                </div>
            </div>
        </div>
    </div>
    <!-- TopHeader -->
    <div class="top-header" style="background:#244702;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-12 d-flex justify-content-center" style="margin-top: 10px; margin-bottom: 10px;">
                    <div class="d-flex" style="width: 100px; height: 100px">
                        <img class="" src="~/images/logo/jh_logo.png" alt="jharkhand government logo" width="100" height="100">
                    </div>
                </div>
                <div class=" d-none d-md-block col-md-8 col-12 d-md-flex justify-content-center align-items-center">
                    <div class="text-center text-nowrap navbar-brand">
                        <h4 style="color:white"><b>@_localization.Getkey("LayoutHeader1")</b></h4>

                        <h5 style="color:#d7cfc3;"><b>@_localization.Getkey("LayoutHeader2")</b></h5>
                    </div>
                </div>
                <div class="col-md-2 col-12 d-flex justify-content-center" style="margin-top: 10px; margin-bottom: 10px;">
                </div>
            </div>

        </div>
    </div>
    <div class="">

        @RenderBody()

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/aos/aos.js"></script>
    <script src="~/lib/glightbox/js/glightbox.js"></script>
    <script src="~/lib/glightbox/js/glightbox.min.js"></script>

    <script src="~/lib/swiper/swiper-bundle.min.js"></script>
    <script src="~/js/swiper.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
