@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding,350);
}

body {
    font-family: "Poppins", sans-serif !important;
    background-color: rgb(255, 255, 255);
}

.sidebar {

}

.navbar-scrolled {
    
}
.sticky-nav {
    align-self: start;
    position: sticky;
    top: 0em;
    background-color:  #78935E;
}

/*about section*/
div.heroSection {
    margin-top: 20px;
    background: url('../images/layout/backgroundU.jpg') no-repeat fixed center;
    background-size: cover;
    height: 200px;
    color: white;
}
.hr {
    border: 4px solid  #78935E;
    border-radius: 5px;
}


.about-h3 {
    margin: 30px 0px 0px 0px;
}

    .about-h3::before {
        content: "";
        background-color: #78935E;
        color: #78935E;
        padding-right: 10px;
    }

    .about-h3 b {
        margin-right: 0px;
        background-color: #78935E;
        color: white;
    }

        .about-h3 b::after {
            content: "";
            background-color: #78935E;
            color: #78935E;
            padding-left: 10px;
        }
.navigation-section-title {
    align-self: start;
    position: sticky;
    top: 0em;
}
/*******Top Bar Section******/
.top-bar {
    /*background: #d2f0d2;*/
    height: 30px;

}

    .top-bar ul,
    li {
        margin: 0px;
        padding: 0px;
    }

    .top-bar .top_nav1 {
        list-style: none;
    }

        .top-bar .top_nav1 li {
            /*color: #26ae61;*/
            font-size: 13px;
            display: inline-block;
        }

            .top-bar .top_nav1 li:last-child {
                padding-left: 10px;
            }


    .top-bar.top_nav2 {
        list-style: none;
    }

        .top-bar .top_nav2 li {
            /*color: #26ae61;*/
            font-size: 13px;
            display: inline-block;
            cursor: pointer;
            padding-left: 5px;
            padding-right: 5px;
            font-family: 'Open Sans';
        }

            .top-bar .top_nav2 li a {
                color: #26ae61;
            }

            .top-bar .top_nav2 li i {
                font-size: 15px;
                padding-left: 10px;
            }

    .top-bar .langs {
       /* border: #4c6e4c 1px solid;*/
        line-height: 20px;
    }


.bgm-seed {
    background: url('../images/background/seed-unsplash.jpg') fixed no-repeat;
    background-size: cover;
}
/*about*/

.about-img {
    position: relative;
    transition: 0.5s;
}

    .about-img img {
        max-width: 100%;
        border: 4px solid rgba(255, 255, 255, 0.2);
        position: relative;
    }

    .about-img::before {
        position: absolute;
        left: 20px;
        top: 20px;
        width: 60px;
        height: 60px;
        z-index: 1;
        content: "";
        border-left: 5px solid  #78935E;
        border-top: 5px solid  #78935E;
        transition: 0.5s;
    }

    .about-img::after {
        position: absolute;
        right: 20px;
        bottom: 20px;
        width: 60px;
        height: 60px;
        z-index: 2;
        content: "";
        border-right: 5px solid #244702;
        border-bottom: 5px solid #244702;
        transition: 0.5s;
    }

    .about-img:hover {
        transform: scale(1.03);
    }

        .about-img:hover::before {
            left: 10px;
            top: 10px;
        }

        .about-img:hover::after {
            right: 10px;
            bottom: 10px;
        }
/*
# box
*/
.box {
    padding: 50px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;
    background: white;
}

    .box span {
        display: block;
        font-size: 28px;
        font-weight: 700;
        color: black;
    }

    .box h4 {
        font-size: 24px;
        font-weight: 600;
        padding: 0;
        margin: 20px 0;
        color: black;
    }

    .box p {
        color: rgb(50,50,50);
        font-size: 15px;
        margin: 0;
        padding: 0;
    }

    .box:hover {
        background:  #78935E;
        padding: 30px 30px 70px 30px;
        box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
    }

        .box:hover span,
        .box:hover h4,
        .box:hover p {
            color: #fff;
        }
/*# Hero Section*/
#hero {
    width: 100%;
    height: 100vh;
    background: url('../images/background/seed-unsplash.jpg') top center;
    background-size: cover;
    position: relative;
    padding: 0;
}

#hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .container {
    padding-top: 110px;
}

@media (max-width: 992px) {
    #hero .container {
        padding-top: 98px;
    }
}

#hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

    #hero h1 span {
        color: #244702;
    }

#hero h2 {
    color: #eee;
    margin-bottom: 10px 0 0 0;
    font-size: 22px;
}

#hero .btns {
    margin-top: 30px;
}

#hero .btn-menu,
#hero .btn-book {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.3s;
    line-height: 1;
    color: white;
    border: 2px solid #244702;
}

    #hero .btn-menu:hover,
    #hero .btn-book:hover {
        background: #244702;
        color: #fff;
    }

#hero .btn-book {
    margin-left: 15px;
}

#hero .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#244702 50%, rgba(205, 164, 94, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
}

    #hero .play-btn::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-40%) translateY(-50%);
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 15px solid #fff;
        z-index: 100;
        transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    #hero .play-btn::before {
        content: "";
        position: absolute;
        width: 120px;
        height: 120px;
        animation-delay: 0s;
        animation: pulsate-btn 2s;
        animation-direction: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: steps;
        opacity: 1;
        border-radius: 50%;
        border: 5px solid rgba(205, 164, 94, 0.7);
        top: -15%;
        left: -15%;
        background: rgba(198, 16, 0, 0);
    }

    #hero .play-btn:hover::after {
        border-left: 15px solid #244702;
        transform: scale(20);
    }

    #hero .play-btn:hover::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-40%) translateY(-50%);
        width: 0;
        height: 0;
        border: none;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 15px solid #fff;
        z-index: 200;
        animation: none;
        border-radius: 50%;
    }

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 992px) {
    #hero .play-btn {
        margin-top: 30px;
    }
}

@media (max-height: 500px) {
    #hero {
        height: auto;
    }

        #hero .container {
            padding-top: 130px;
            padding-bottom: 60px;
        }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
    }
}

@keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}
/*******Gallery Section******/
.dirGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    .dirGallery a {
        display: block;
        margin: 10px;
    }

    .dirGallery img {
        height: 220px;
        width: 280px;
    }

.dirLightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

    .dirLightbox img {
        max-width: 90%;
        max-height: 90%;
    }

.closeGallery {
    position: absolute;
    height: 70px;
    width: 70px;
    top: 50px;
    right: 70px;
    font-size: 30px;
    background-color: rosybrown;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px 10px;
    cursor: pointer;
}
/******ContactList Section*******/


.contactList {
    display: flex;
    flex-direction: column;
    max-width: 820px;
    padding: 32px;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.06);
    letter-spacing: 1px;
}

    .contactList ol {
        padding-left: 50px;
    }

    .contactList li {
        color: #4f4f4f;
        padding-left: 16px;
        margin-top: 74px;
        position: relative;
        font-size: 16px;
        line-height: 20px;
    }

        .contactList li:before {
            content: "";
            display: block;
            height: 42px;
            width: 42px;
            border-radius: 50%;
            border: 2px solid #ddd;
            position: absolute;
            top: -10px;
            left: -36px;
        }

    .contactList stronheroSectiong {
        color: #292929;
    }


    .contactList li:nth-child(odd):before {
        border-color: #0bad02;
    }

    .contactList li:nth-child(even):before {
        border-color: #338b5b;
    }
    /*form-control*/
.form-control:focus {
    border-color: white;
    box-shadow: 0px 0px;
} 

